# Allure report http://localhost:5050/allure-docker-service/projects/default/reports/latest/index.html

version: '3'
services:
  allure:
    image: "frankescobar/allure-docker-service"
    environment:
      CHECK_RESULTS_EVERY_SECONDS: 5
      KEEP_HISTORY: 1
    ports:
      - "5050:5050"
    volumes:
      - ./bin/Debug/net5.0/allure-results:/app/allure-results